h1 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h3 {
    color: aquamarine;
    font-size: 16px;
}

body {
    background-color: black;
}
